/* Auth.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.auth-page {
    background: url('assets/backgrounds/moutain-road.webp') no-repeat center center fixed;
    background-size: cover;
    background-blend-mode: lighten;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.auth-container {
    font-family: 'Poppins', sans-serif;
    background: transparent; /* Transparent background to blend with the page */
    color: #333333;
    padding: 0;
    width: 100%;
    max-width: 400px; /* Max width for the container */
    margin: auto;
    text-align: center;
    box-shadow: none; /* Remove shadow */
    border-radius: 20px;
}

.auth-form-container {
    background: linear-gradient(#dfdcfb, #ffe6fd);
    border-radius: 20px;
    padding: 40px;
    margin: 0 auto; /* Remove margin to center */
    width: 100%; /* Adjust to take full width */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border: 1px solid #cfdef3;
}

.auth-title {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    background: linear-gradient(#6a11cb, #2575fc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.auth-label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
}

.auth-input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #cfdef3;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.auth-button {
    background: linear-gradient(145deg, #79b3ff, #b3d9ff);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.auth-button:hover {
    background: linear-gradient(#4e6cff, #79b3ff);
    transform: scale(1.05);
}

.auth-footer {
    margin-top: 20px;
    font-size: 14px;
}

.auth-footer a {
    color: #79b3ff;
    text-decoration: none;
    transition: color 0.3s;
}

.auth-footer a:hover {
    color: #4e6cff;
}

.security-questions-container {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 2px solid #cfdef3;
}

.security-question {
    margin-bottom: 20px;
}

.security-label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
}

.security-dropdown {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #cfdef3;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}