/* Friends.css */
.friends-container {
    background: linear-gradient(to bottom, #e0eafc, #cfdef3);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 80%;
    margin: auto;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #333;
}

h2, h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    background: linear-gradient(145deg, #6a11cb, #2575fc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.friend-requests-section {
    margin-top: 20px;
}

.friend-requests-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.friend-requests-list {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.friend-request-item {
    background: #fff;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accepted-friends-section {
    margin-top: 30px;
}

.accepted-friends-list {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.accepted-friend-item {
    background: #fff;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-buttons {
    display: flex;
    gap: 10px;
}

.accept-button,
.decline-button,
.chat-button {
    background: linear-gradient(145deg, #64b3f4, #4e6cff);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.accept-button:hover,
.decline-button:hover,
.chat-button:hover {
    background-color: #4e6cff;
    transform: translateY(-2px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.accept-button .fa-user-friends,
.decline-button .fa-user-friends,
.chat-button .fa-comments {
    margin-right: 5px;
}