/* home.css */
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(#e0eafc, #cfdef3);
    color: #333333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 80px;
    background: linear-gradient(#e0eafc, #cfdef3);
    color: #333333;
    font-family: 'Poppins', sans-serif;
}

.avatars-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.avatar-card {
    background: linear-gradient(145deg, #cdc7ff, #f9dcf7);
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    width: 500px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    position: relative;
    color: #333333;
    border: 1px solid #cfdef3;
}

.avatars-title {
    font-family: 'Poppins', sans-serif;
    /* Rounded and clean font */
    font-weight: bold;
    font-size: 3rem;
    /* Increase font size for more emphasis */
    background: linear-gradient(145deg, #6a11cb, #2575fc);
    /* Gradient effect */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.avatar-header {
    position: relative;
    text-align: center;
}

.avatar-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
    display: block;
    border: 3px solid #79b3ff;
    /* Border around the picture */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Shadow for depth */
}

.avatar-name {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 10px;
}

.release-button,
.edit-button {
    position: absolute;
    top: 10px;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 18px;
    /* Increased font size */
    font-weight: bold;
    /* Bold font weight */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    color: white;
    width: 120px;
    /* Increased width */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    /* Text shadow for pop effect */
}

.release-button {
    right: 10px;
    top: 60px;
    background: linear-gradient(145deg, #ff7f7f, #ffadad);
}

.release-button:hover {
    background: linear-gradient(145deg, #ff4e50, #ff7f7f);
    transform: scale(1.05);
}

.edit-button {
    right: 10px;
    background: linear-gradient(145deg, #79b3ff, #b3d9ff);
}

.edit-button:hover {
    background: linear-gradient(145deg, #4e6cff, #79b3ff);
    transform: scale(1.05);
}

.avatar-details {
    text-align: left;
    margin-top: 20px;
    font-size: 14px;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.button-group button {
    background: linear-gradient(145deg, #64b3f4, #c2e59c);
    /* Vibrant gradient */
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    border: 1px solid #509aeb;
    /* Slightly darker color for border */
}

.button-group button:hover {
    background-color: #509aeb;
    /* Slightly darker for hover effect */
    transform: translateY(-2px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.icon {
    font-size: 30px;
    margin: 5px;
    cursor: pointer;
    color: #5ea3fd;
    /* Light blue to match the theme */
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    /* Ensure it's above other elements */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* Prevent background scrolling */
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background: linear-gradient(145deg, #ffffff, #f0f0f0);
    padding: 20px;
    border-radius: 20px;
    width: 80%;
    max-width: 500px;
    /* Set max width for the modal */
    max-height: 70%;
    /* Set max height for the modal */
    overflow-y: auto;
    /* Enable vertical scrolling if content is too long */
    text-align: left;
    color: #333333;
    border: 1px solid #cfdef3;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    position: relative;
    margin: auto;
    /* Center horizontally and vertically */
    top: 50%;
    /* Move to the middle of the screen */
    transform: translateY(-50%);
    /* Adjust for true center */
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #333333;
}

.goal-card,
.relationship-card,
.job-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    background: linear-gradient(145deg, #dfdcfb, #ffe6fd);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    color: #333333;
}

.goal-card p,
.relationship-card p,
.job-card p {
    margin: 6px 0;
}

.avatar-creator {
    font-family: 'Courgette', cursive;
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
    text-decoration: underline;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
}