/* LandingPage.module.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Courgette&display=swap');

.landingPage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    color: #333;
}

.landingHeader {
    background: #333;
    /* Dark grey background */
    padding: 1em;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.landingHeader h1 {
    font-family: 'Courgette', cursive;
    /* Updated font */
    font-size: 3em;
    /* Increased font size */
    color: #fff;
    /* White text color */
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    /* Text shadow for better readability */
}

.hero {
    background: url('https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-4.0.3&auto=format&fit=crop&w=2850&q=80') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5em 1em;
    min-height: 100vh;
    /* Make the hero section full viewport height */
}

.heroContent {
    background: rgba(0, 0, 0, 0.5);
    /* To make text more readable */
    padding: 2em;
    border-radius: 10px;
}

.hero h1 {
    font-size: 2.5em;
    margin: 0;
}

.hero p {
    font-size: 1.2em;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4em 1em;
    /* Increased padding for larger height */
    text-align: left;
    /* Align text to the left */
    background: #fff;
    min-height: 100vh;
    /* Make each section full viewport height */
}

.section .content {
    display: flex;
    justify-content: space-between;
    /* Space items around to avoid squishing */
    align-items: center;
    width: 100%;
    max-width: 1400px;
    /* Adjust max width for better spacing */
    margin: 0 auto;
}

.section .text {
    flex: 2;
    /* Increase text container flex size */
    padding: 2em;
    text-align: left;
    /* Align text to the left */
}

.section .model {
    flex: 3;
    /* Reduce Earth model container flex size */
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutSection {
    background: url('https://static.vecteezy.com/system/resources/previews/004/770/350/non_2x/sunset-and-orange-cloud-and-blue-dawn-sky-with-cloud-horizontal-lines-motion-effect-on-background-from-sunshine-free-photo.jpg') no-repeat center center;
    /* https://c4.wallpaperflare.com/wallpaper/994/603/831/spots-glow-background-wallpaper-preview.jpg */
    background-size: cover;
    background-attachment: fixed;
}

.featuresSection {
    background: url('https://w0.peakpx.com/wallpaper/139/13/HD-wallpaper-blue-mixed-paint-aesthetic-background-blue-aesthetic.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.testimonialSection {
    background: url('https://img.freepik.com/free-vector/abstract-style-bokeh-background_23-2148459410.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}


.section h2 {
    margin-bottom: 1em;
    color: #4a90e2;
    /* Updated color */
    font-family: 'Poppins', sans-serif;
    /* Updated font */
    font-weight: 600;
    /* Bold font */
    font-size: 3em;
    /* Reverted font size */
}

.section p {
    font-family: 'Poppins', sans-serif;
    /* Updated font */
    font-weight: 400;
    /* Normal weight */
    color: #fff;
    /* Lighter gray color for text */
    line-height: 1.6;
    /* Increased line height for readability */
    max-width: 800px;
    /* Limit width for better readability */
    font-size: 1.2em;
    /* Reverted font size */
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 800px;
    margin: 0 auto;
}

.testimonial,
.feature {
    margin: 1em 0;
    font-family: 'Poppins', sans-serif;
    /* Updated font */
    font-weight: 400;
    /* Normal weight */
}

.landingFooter {
    background: #333;
    /* Dark grey background */
    padding: 1em;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #fff;
    /* White text color */
}

.separator {
    width: 100%;
    /* Full width */
    height: 2px;
    background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0) 100%);
    margin: 0;
    /* Remove margin to connect sections directly */
}

.typingText {
    font-size: 1.5em;
    /* Adjust the font size as needed */
    margin-top: 0.5em;
}

.butterflyModelContainer {
    width: 50%;
    height: 70vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonialContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}